*.png
*.JPG
*.tlog
*.obj
*.log
*.idb
*.unsuccessfulbuild
*.pdb
*.manifest
*.pch
*.cache
*.lastbuildstate
*.txt
mrf/ipch/mrf-29d86435/mrf-efab482b.ipch
mrf/mrf/mrf.h
mrf/mrf/mrf.cpp
mrf/mrf/stdafx.h
mrf/mrf/stdafx.cpp
mrf/mrf/regions-new.h
mrf/mrf/mrf.vcxproj.filters
mrf/mrf/MaxProdBP.cpp
mrf/mrf/mrf.vcxproj
mrf/mrf/MaxProdBP.h
mrf/mrf/Makefile
mrf/mrf/mrf.vcxproj.user
mrf/mrf/LinkedBlockList.h
mrf/mrf/maxflow.cpp
mrf/mrf/LinkedBlockList.cpp
mrf/mrf/ICM.h
mrf/mrf/graph.h
mrf/mrf/ICM.cpp
mrf/mrf/GCoptimization.h
mrf/mrf/GCoptimization.cpp
mrf/mrf/graph.cpp
mrf/mrf/example.cpp
mrf/mrf/energy.h
mrf/mrf/block.h
mrf/mrf/regions-maxprod.cpp
mrf/mrf.sln
mrf/mrf.suo
mrf/mrf.sdf
mrf/mrf/targetver.h
mrf/Debug/mrf.lib